<div className = "row">
  <div className = "columns small-9">
    <div className="panel">
    <h1 ><%=@recipe.title%></h1>
  </div>
  <div className="panel">
    <p><%=simple_format(@recipe.body)%></p>
    </div>
  </div>
</div>
